Package: oss4-gtk
Source: oss4
Version: 4.2-build2020-10
Architecture: amd64
Maintainer: Rafael Diniz <rafael@riseup.net>
Installed-Size: 91
Depends: oss4-base, libc6 (>= 2.34), libgdk-pixbuf-2.0-0 (>= 2.22.0), libglib2.0-0t64 (>= 2.24.0), libgtk2.0-0t64 (>= 2.24.0)
Section: sound
Priority: optional
Homepage: http://www.4front-tech.com/
Description: Open Sound System - simple GTK2-based mixer control
 Open Sound System (OSS) is an attempt in unifying the digital audio
 architecture for UNIX.
 .
 This package contains a GTK2-based mixer control program.
