Package: liboss4-salsa2-dbgsym
Source: oss4
Version: 4.2-build2020-10
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Rafael Diniz <rafael@riseup.net>
Installed-Size: 53
Depends: liboss4-salsa2 (= 4.2-build2020-10)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for liboss4-salsa2
Build-Ids: 993728154a4ee7a0cf48abc8adc6be0de9eedde7 b496f131ea9be6409e2b28e1835778555e072539
