build-tree/

debian/tmp/
debian/.debhelper/
debian/files
debian/*.substvars
debian/*.log
debian/liboss4-salsa2/
debian/liboss4-salsa-asound2/
debian/liboss4-salsa-dev/
debian/oss4-base/
debian/oss4-dev/
debian/oss4-dkms/
debian/oss4-gtk/
debian/oss4-source/

stamp-*

*.o
