Package: liboss4-salsa-dev
Source: oss4
Version: 4.2-build2020-10
Architecture: amd64
Maintainer: Rafael Diniz <rafael@riseup.net>
Installed-Size: 578
Depends: liboss4-salsa2 (= 4.2-build2020-10), liboss4-salsa-asound2
Conflicts: libasound2-dev, liboss-salsa-dev
Provides: libasound2-dev, liboss-salsa-dev
Section: libdevel
Priority: optional
Homepage: http://www.4front-tech.com/
Description: OSS to Alsa compatibility library -- development files
 Liboss4-salsa is a library providing an ALSA interface on top of OSS.
 .
 This package contains the development part of liboss4-salsa, which permit
 to build application using alsa on architectures which do not have
 libasound.
