Package: liboss4-salsa-asound2
Source: oss4
Version: 4.2-build2020-10
Architecture: amd64
Maintainer: Rafael Diniz <rafael@riseup.net>
Installed-Size: 20
Depends: liboss4-salsa2
Conflicts: libasound2
Provides: libasound2
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://www.4front-tech.com/
Description: OSS to Alsa compatibility library - binary compatibility symlink
 Liboss4-salsa is a library providing an ALSA interface on top of OSS.
 .
 This package contains a symbolic link that makes applications already
 compiled with ALSA use liboss4-salsa.
